.App {
  text-align: center;
}

.header {
  background-color: lightpink;
  background-size: 50px;
  padding: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
  background-color: rgb(26, 26, 113);
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: antiquewhite;
  padding: 2%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
  float: right;
  width: 300px;
  border: 15px solid gray;
  padding: 50px;
  margin: 20px;
}

.home {
  width: 800px;
  padding: 2%;
  text-align: center;
}
/* .collection {
  margin: 2rem;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  float: left;
}

.subscribe {
  box-shadow: 1px;
  float: bottom;
}
.games {
  margin: 20px;
  justify-content:flex-start;
}
.games-list {
  border-style: outset;
  width: 300px;
  padding: 0px;
  margin: 2px;
}